


{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Table Dashboard</title>
    <link rel="stylesheet" href="{% static 'admin/assets/bootstrap/css/bootstrap.min.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{% static 'admin/assets/fonts/fontawesome-all.min.css' %}">

</head>
<body>
<section id="page-top">
    <div id="wrapper">
        {% include 'myadmin/nav.html' %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% include 'header.html' %}
                    <div class="container-fluid">
                        <h3 class="text-dark mb-4">Team</h3>
                        <div class="card shadow">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Employee Info</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 text-nowrap">
                                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                            <label class="form-label">Show&nbsp;<select
                                                    class="d-inline-block form-select form-select-sm">
                                                <option value="10" selected="">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>&nbsp;</label></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-md-end dataTables_filter" id="dataTable_filter"><label
                                                class="form-label"><input type="search"
                                                                          class="form-control form-control-sm"
                                                                          aria-controls="dataTable"
                                                                          placeholder="Search"></label></div>
                                    </div>
                                </div>
                                <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                     aria-describedby="dataTable_info">
                                    <table class="table my-0" id="dataTable">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Date Joined</th>
                                            <th>Salary</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in users %}
                                        	<tr>
                                                <td>
                                                    {% if user.customer.img_profile %}
                                                    <img class="rounded-circle me-2" width="30" height="30"
                                                         src="{{ user.customer.img_profile.url }}" alt="{{ user.username }}">
                                                        {% else %}
                                                        <img class="rounded-circle me-2" width="30" height="30" alt="{{ user.username }}"
                                                         src="../../static/admin/assets/img/avatars/avatar1.jpeg">
                                                    {% endif %}
                                                    {{ user.username}}
                                                </td>
                                                <td>
                                                    {% if user.is_superuser %}
                                                    	Admin
                                                        {% elif user.is_staff %}
                                                        Staff
                                                        {% else %}
                                                        Customer
                                                    {% endif %}
                                                </td>
                                                <td>Tokyo</td>
                                                <td>33</td>
                                                <td>{{ user.date_joined}}</td>
                                                <td>$162,700</td>
                                            </tr>
                                        {% endfor %}



                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td><strong>Name</strong></td>
                                            <td><strong>Position</strong></td>
                                            <td><strong>Office</strong></td>
                                            <td><strong>Age</strong></td>
                                            <td><strong>Start date</strong></td>
                                            <td><strong>Salary</strong></td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 align-self-center">
                                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                                            Showing 1 to 10 of 27</p>
                                    </div>
                                    <div class="col-md-6">
                                        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                            <ul class="pagination">
                                                <li class="page-item disabled"><a class="page-link"
                                                                                  aria-label="Previous"
                                                                                  href="#"><span
                                                        aria-hidden="true">«</span></a>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item"><a class="page-link" aria-label="Next"
                                                                         href="#"><span
                                                        aria-hidden="true">»</span></a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2024</span></div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="{% static 'admin/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/chart.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/bs-init.js' %}"></script>
    <script src="{% static 'admin/assets/js/theme.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="{% static 'assets/js/countdown-timer-countdown.js' %}"></script>
    <script src="{% static 'assets/js/Swiper-Slider-Card-For-Blog-Or-Product-swiper.min.js' %}"></script>
</section>

</body>
</html>


